/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*@media(max-width: 800px) {*/

body{ 
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
} 

header {
    font-size: 30px;
    height: 20px;
    padding: 30px;
    background: #222;
    color: antiquewhite;
/*    margin-bottom: 50px; */
/*     height: 70px; */
}

header img {max-height: 30px;}

img{max-height: 100px; max-width: 100px;}

ul li {list-style: none;}
header a { color: antiquewhite;}
header a:hover { color: #8fbc8f;}

nav {
    position: relative;
    top: -10px; 
    z-index: 999;
}
 
#nav {
    display: table;
    height: 87px;
    width: 100%;
    position: relative; 
    top:-20px;  
}

#nav .fa {
    color: black;
    font-size: 60px;
    position: relative;
    top: 15px;
}
 
 
#nav a{
    display: table-cell;
    height: 87px;
    width: 16.666666667%;  /* (100 / numItems)% */
    line-height: 87px;
    text-align: center;
/*    background: #ddd;*/
/*    background-color: rgba(148,188,148,.3);*/
    background-color: rgba(223,235,223,1);
    border-right: 1px solid #fff;
    white-space: nowrap; 
}

#nav a:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #ddd;
}
    
h1 {
    font-size: 40px;
    margin-bottom: 20px;
} 
h3{
    font-size: 30px;
    margin-bottom: 50px;
}
h4 {
    margin-bottom: 20px;
}



#show-hidden-menu {width: 400px; position: relative; top: -70px; left: 50px;}
#show-hidden-menu img { position: relative; top: 15px;}
#show-hidden-menu:hover, #show-hidden-form:hover, #show-hidden-addpost:hover{ cursor: pointer; }



.hidden_menu{
    width: 400px;
    display: inline-block;
    position: relative;
    left: 200px;
    background: #222;
}

.hidden-form {
    font-size: 30px;
    margin-bottom: 60px;
}
.hidden-form input[type="text"] {
    width: 80%;
    font-size: 30px;
    
}



header ul {
    background: #222;
    padding: 10px;
    position: relative;
      top: -31px;
      left: 0;
}


.active{
    border-bottom: 5px solid black;
}

.links:hover {
    cursor: pointer;
    clear: both;
    color: #8fbc8f;
}

#new_profile, #account_settings {
    overflow: hidden;
/*    max-width: 400px;*/
    display: none; background: white; padding: 20px;
    
}

 

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


 
#new_username, #new_email, #new_pass,#new_avatar,#new_content {display: none; background: white; padding: 20px;}

.fa-question-circle:hover {cursor: pointer;}

#page {
/*    background: #eee;*/
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 40px 40px;
    position: relative;
    top: -65px;
    height: 100vh;
}


#group_nav {
  font-size: 30px;
  line-height: 1.5;
}
#group_nav img {
    max-height: 50px;
    max-width: 50px;
}
#group_nav li{
    padding: 5px 10px;
    border-radius: 5px;
    
}

#group_nav li a {color: #943940;}

#group_nav li a:hover{
    color: black;
}

.active { background: rgba(160,86,99,.5);}
#group_nav .active a { color: black; }
#group_nav .active a:hover { color: white; }


#group_head { 
    padding: 10px;
}

.post_container { 
    clear: both;
    margin: 15px 0;
    border: 1px solid #8fbc8f;
    min-height: 100px;
    overflow: hidden;
    background: white;
}

.notification{
    border: 1px solid #8fbc8f;
    margin-bottom: 10px;
    padding: 10px;
}
 

.one-third input[type="text"], .one-third input[type="password"], .one-third #content {
    border: 2px solid #8fbc8f;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    font-size: 30px;
    padding: 10px;
}


/******************************
        /GRID
*******************************/

.grid { 
}

.grid_item{
    float: left;
    width: 150px;
   margin: 5px;
    padding: 10px;
    text-align: center;
}



.grid_item:hover{
 border-bottom: 3px solid grey;
}



/******************************
        /ELEMENTS
*******************************/

.red{ 
      background-color: rgba(255,0,0,.2);
      color: firebrick;
      padding: 10px;
    overflow: hidden;
}

a, .accent_green{
    color: #8fbc8f;
}

a:hover, .accent_green:hover {
    color: #8fb000;
    cursor: pointer;
}

.left{ float: left; }
.right{ float: right;}
.center{ margin: 0 auto; text-align: center; }
.half {
    float: left;
    width: 40%;
    padding: 4%;
}

.results {
  clear: both;
  border-bottom: 1px solid;
  padding: 10px;
}

.one_third {
    width: 30%;
    float: left;
    padding: 10px;
/*    overflow: scroll;*/
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}

.two_thirds {
    width: 65%;
    float: right;
    padding: 10px;
      word-wrap: break-word;
    min-height: 100%;
}

.min-five{position: relative; top: -5px;}   
.left_padding {padding: 20px; float: left;}


#inline{display: inline;}





.search input[type=text]{
    width: 90%; 
    border-radius: 5px;
    padding: 10px;
}
.h4_search input[type=text]{width: 90%;}

.search input[type="submit"]{
    font-family: FontAwesome;
    content: "&#xf002;";
/*    color: #666;*/
    color: black;
    background: transparent;
    border: none;
    font-size: 20px;
}
.search input[type="submit"]:hover{color: white;}

input[type="submit"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: antiquewhite;
}

input[type="submit"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: olivedrab;
    color: antiquewhite;
}


input[type="file"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
/*
    background-color: darkolivegreen;
    color: antiquewhite;
*/
    color: black;
}

input[type="file"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
/*    background-color: olivedrab;*/
/*    color: antiquewhite;*/
    color: black;
}

#new_pass input[type="password"]{
    width: 400px;
}

a {text-decoration: none;  
}
     
  
    
/*}*/
/*END MAX 800*/



/*FULL SIZE SCREEN*/
@media(min-width: 800px) {
    body{
/*        background: black;*/
    }
}



/*MOBILE DEVICES ONLY*/
@media only screen and (max-device-width: 800px) {
  
    body{
        font-size: 60px;
        background: #eee;
    }
    
    a { font-size: 50px;}
    header { 
        height: 70px;  
    }
    
     header a{ 
        font-size: 70px; 
    }
    
    
    #nav { 
        height: 107px; 
        top:-20px; 
    }

    #nav .fa {
        font-size: 60px;
        position: relative;
        top: 15px;
    }


    #nav a{
        height: 107px;
        
    }
    
    #page {
/*        top: -120px;*/
        background: #eee;
        padding: 120px 40px 40px;
    }
    
    h1 {
    font-size: 74px;
    }
    h3{font-size: 60px;}
    
    #group_title{ font-size: 120px;}
    
    .hidden-form {font-size: 60px;}
    .hidden-form input[type="text"] {
        width: 50%;
        font-size: 60px;
    }
    .hidden-form input[type="submit"] { font-size: 60px; }
   .hidden-addpost textarea { font-size: 30px; max-width: 600px; }
   .hidden-addpost input[type="submit"] { font-size: 60px; }
    
    #group_nav a{
          font-size: 90px;
    }
    
    #group_nav img {
        max-height: 100px;
        max-width: 100px;
    }
    

}